@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 206;
  --background-end-rgb: 245, 245, 206;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.font-serif {
  font-family: var(--font-playfair), serif;
}

.font-cinzel {
  font-family: var(--font-cinzel), serif;
}

.font-cinzel-decorative {
  font-family: "Times New Roman", Times, serif; /* Fallback font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

